
.movie-list-container {
  padding: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
}

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.card {
  width: 18rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #230943;
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.card-body p {
  font-size: 14px;
  margin: 5px 0;
  color: #555;
}

.card-body p strong {
  font-weight: bold;
  color: #333;
}

.card-body .btn {
  background-color: #28549f;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
}

.card-body .btn:hover {
  background-color: #388e3c;
}
